body {
                    background-color: black;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ram {
                    background-color: black;
                    color: white;
                    display: flex;
                    width: 600px;
                    height: 600px;
                    border-radius: 50%;
                  
                    border: 5px solid green;
                    margin: 10px auto;
                    justify-content: center;
                    margin-top: 50px;
                    align-items: center;
                    font-size: 40px;
                    /* text-align: center; */

}

.rr>button {
                    height: 50px;
                    width:auto;
                    font-size: 35px;
                    background:green ;
                    justify-content: space-between;
                    border-radius: 10px;
                    margin-top: 20px;
                   


}
.rr{
                    text-align: center;
                    cursor: pointer;

                    
}
.ramya{
                    text-align: center;
                    margin-top: 20px;
                    
}
.ramya>button{
                    height: 50px;
                    width:auto;
                    font-size: 35px;
                    background:red ;
                    justify-content: space-between;
                    border-radius: 10px;  
}
